<div id='grid-view'>
    <div id="filterrific_results">

        <h2 class="header-sub-heading">Here are 48 random dreams! Want more? Roll the dice again.</h2>

        <a href="/" class="btn btn-primary camp-button" role="button">
            Show me more! <span class="glyphicon glyphicon-random vertical-middle" aria-hidden="true"></span>
        </a>

        <div class="camps_list">
            <% @camps.each do |camp| %>
                <%= render :partial => 'camps/camp_card', locals: { camp: camp, display_desc: true, css_classes: "col-md-4" } %>
            <% end %>
        </div>

        <a href="/" class="btn btn-primary camp-button" role="button">
            Show me more! <span class="glyphicon glyphicon-random vertical-middle" aria-hidden="true"></span>
        </a>

    </div>
</div>

<% if !@filterrific.tagged_with %>
    <table id='table-view' style='display: none'>
        <tr>
            <th>Dream name</th>
            <th>Monster actions</th>
            <th>Approvers</th>
        </tr>
        <% @camps.count_all_flags.each do |camp_id, flag_sum| %>
        <% @the_camp = @camps.where(['id = ?', camp_id])[0] %>
        <tr>
            <% if @the_camp %>
                <%= render :partial => 'camps/camp_row', locals: { camp: @the_camp, flag_sum: flag_sum } %>
            <% end %>
        </tr>
        <% end %>
    </table>
<% end %>
