<div id='grid-view'>
    <div id="filterrific_results">

        <%=t :sort_by%>:
        <%= filterrific_sorting_link(@filterrific, :updated_at) %>

        <div class="camps_list">
            
            <% @camps.each do |camp| %>
                <%= render :partial => 'camps/camp_card', locals: { camp: camp, display_desc: true, css_classes: "col-md-4" } %>
            <% end %>
        </div>

    </div>
</div>


