<div id="filterrific_results">

  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Created at</th>
    </tr>
    <% camp.each do |camp| %>
      <tr>
        <td><%= camp.name %></td>
        <td><%= camp.created_at %></td>
      </tr>
    <% end %>
  </table>
</div>
