<% if @camp.loomio_thread_key %>
    <a class="btn btn-primary camp-button" style="margin-bottom: 20px" href="https://talk.theborderland.se/d/<%= @camp.loomio_thread_key %>">Add Comments</a>
    <div class="panel panel-default">
        <div loomio-thread="<%= @camp.loomio_thread_key %>"></div>
    </div>
<% end %>
