<div id="filterrific_results">
    <table class="table table-striped table-hover sortable">
        <tr>
            <th class="col-md-6">Name</th> 
            <th class="col-md-1">Min</th>
            <th class="col-md-1">Max</th>
            <th class="col-md-1">Grantlets</th>
            <th class="col-md-3">(%) of min</th>
        </tr>

            <% @camps.each do |camp| %>
                <%= render :partial => 'guideview/camp_row', locals: { camp: camp, display_desc: true, css_classes: "col-md-12" } %>
            <% end %>
    </table>
</div>