<div class="row"> 
  <article>
<h1>Dreamiquette - Cheat sheet for Dreamers</h1>
<p>Hey Dreamer! (Or artist, maker, realiser, auteur, awaker or whatever floats your goat.) This is the ultimate guide to put your dream on our very own Dreams Platform. Dream in this context is a project you wish to pursue at the Borderland, it can be anything really.</p>
<p>App. 45% of our budget goes straight back to the members in the form of art grants to help you realise your ideas. No idea is too large or small; too clever or stupid. In the past we&rsquo;ve had slime pits, VR time travel, orgy robots and one very long dinner. In future years maybe we&rsquo;ll have slime demons seeping out from cracks in the ground and wolf pits with real live wolves.</p>
<p>This year the dreams process is the same as last year - based on <strong>crowdsourced review</strong> of dreams. Each dreamer is Required to go through and review the budget of another dream on the platform to themselves be eligible for funding. <a href="https://talk.theborderland.se/d/gSVR3r7f/reviewiquette-dreams-2020">Read more about the reviewal process in the Reviewiquette</a>.</p>
<p>The community decides what projects should be realised by giving out grantlets (hearts) to their favourite dreams. To be eligible for granting your budget need to meet certain requirements, see the section &ldquo;Budget&rdquo; below. This is the <strong>cheat sheet</strong> to help you make the most coherent proposal and budget so that your fellow dreamers know what you are up to.</p>
<h2>Description &amp; Images</h2>
<p>Write a coherent, precise and fun description of your project, and add nice images and sketches that explains your idea. There is no right or wrong here, but remember that the better the description the higher the chances of people giving you grantlets!</p>
<h2>Large structures and safety</h2>
<p>Some really large and extensive dreams need to fill extra safety information. You need to do this if your project is:&nbsp;</p>
<ul>
<li>larger than 50m2&nbsp;</li>
<li>higher than 3m</li>
<li>contains open fire&nbsp;</li>
<li>or <strong>is generally dangerous</strong> (contains wolves etc).&nbsp;</li>
<li>Press the orange &ldquo;Safety Documentation&rdquo; button and provide the relevant info.</li>
</ul>
<p><strong>Important:</strong> Dreams <strong>larger than 50m2</strong> need to provide a <strong>fire evacuation map</strong>, you know those guys they set up at walls in public buildings. It is your responsibility to provide this before the event, otherwise your dream is not permitted to be built.</p>
<h2>Budget &lt;-<strong> Pay very close attention to the below!</strong></h2>
<p>We have a number of hard and soft rules outlined below. Key thing is: Do what you want, just as long as we won't have to make more rules next year because of you. It&rsquo;s very easy really; ask if you're not sure, and don&rsquo;t be an asshat.</p>
<h2>&sect; 0 Main Rule: Don&rsquo;t be an asshat</h2>
<p>Do what you want, just as long as we won't have to make more rules next year because of you. We're a community that is built on trust, and this only works if we can trust each other. Don&rsquo;t try to fuck with the system.</p>
<p>Bad examples: A poorly described dream who's main budget post is a very expensive piece of equipment with a high resell value outside of Borderland, e.g a brand new laptop to control your lasers. A performance project that is the artist feeding themselves throughout the week, although we are fans of weird performance art &hellip; just don&rsquo;t.</p>
<p>Good example: A good and honest art project, workshop, installation, performance, or whatever you wish to bring to the event.</p>
<h2>&sect; 1 Incomplete budget.</h2>
<p>Budgets with posts like "Other material 10.000DKK" doesn't cut it. Be precise, be specific. Also, please specify the entire budget, i.e. assume you get the maximum budget you applied for. <em>(Having said that, we don't want you to be overtly detailed either. A budget post saying "Paint material 500DKK" is perfectly fine without specifying brushes or what paint it is. Please DON'T specify every single teeny tiny item if it&rsquo;s not absolutely necessary.)</em></p>
<p>Bad example: Random shit 10.000DKK</p>
<p>Good example: Wood 3000DKK, Screws 450DKK, Paint 750, Wolves 5800DKK</p>
<p><em>If you find an incomplete budget startle *</em>Incomplete Budget Monster!** *</p>
<h2>&sect; 2 Restricted items - stuff we do not currently fund without exception.</h2>
<ul>
<li>Alcohol</li>
<li>Illegal stuff</li>
<li>Fireworks</li>
<li>Drones</li>
<li>Borderland memberships</li>
<li>Remuneration and hired labour</li>
<li>Personal Transport</li>
</ul>
<p>Don&rsquo;t budget for these items, you will <strong>not get reimbursed.</strong></p>
<p><em>If you find restricted items startle *</em>Restricted Items Monster!** *</p>
<h2>&sect; 3 Transport</h2>
<p>We fund transport up to 20% of the dream budget. However we do make exceptions in certain cases. Contact a Dream Guide if you think you might need exemption from this rule.</p>
<p><em>If you find a transport issue startle *</em>Transport Monster!** *</p>
<h2>&sect; 4 Unnecessary material</h2>
<ul>
<li>Only budget for stuff you really need to realise your dream. This is no magic money tree, the idea is that the dream grant system is there to help you realise what you wish to gift to the community.</li>
<li>Make it obviously clear in the description of your project why you need the items you budget for. Is your dream a pillow fort? Don&rsquo;t budget for massive lasers.</li>
<li>We&rsquo;re a community of artists and makers, and a lot of things can be sourced among us. If your dream need budget for prefabricated large wooden components for a hefty sum at a factory, this could most certainly be sorted within the community. Ask the NERDS if you&rsquo;re unsure!</li>
<li>Please only budget for edible things if it&rsquo;s a crucial part of your dream and you cannot afford to do it without funding. In general, we want to fund edibles because we believe everything can be art, but it&rsquo;s not feasible if every damn chill space budgets for fruits and cakes and what not.</li>
</ul>
<p>Is your dream a wooden sculpture of your own face? (awesome, do this!) Then don&rsquo;t budget for cake to give out when you open it (instead gift cake bought with your own money.)</p>
<p>Bad examples: Expensive party tent for a one time workshop (find another space to host the workshop). A new miter saw for a small wooden sculpture (just borrow one from someone else). A chillout space budgeting for fruit as a nice to have.</p>
<p>Good example: An intergalactic pillow fort that budgets for pillows And for massive lasers to fight off evil space goats. The Tarot Pizza Oven - Read your future in a delicious pizza. Workshop on exploring the diverse food cultures of our community. See live wolves eat a whole cow!</p>
<p><em>If you find unnecessary materials startle *</em>Unnecessary Materials Monster!** *</p>
<h2>Final notes</h2>
<p>If you have any question around your budget or submission, please contact a Dream Guide or just write in the <a href="https://talk.theborderland.se/d/WLgJSjvc/dreams-faq-2020">FAQ</a>. It is far better to ask a Dream Guide beforehand instead of winging it and not getting your budget approved.</p>
</article>
</div> 
