<div class="row"> 
  <h1>FAQ</h1> 
  <br> 
  <ul>     

    <li><b>Q: Can I see what is behind the Kimono?</b><br> 
    Sure! It is all Open Source - <a href="https://github.com/metaburn/dreams/">Click Here</a> 
    </li><br> 

    <li><b>Q: Who created this magnificent piece of art?</b><br> 
    <a href="/pages/humans">Click on me to find out</a> 
    </li><br> 
    
<li><b>Q: What is an Incomplete Budget Monster?</b><br> 
Your budget is incomplete or is lacking detailed information.  <a href="https://talk.theborderland.se/d/Oj8BUuZf/dreams-process-2019-faq">Read more about requirements here.</a> 
    </li><br> 
    
<li><b>Q: What is a Restricted Items Monster?</b><br> 
Your budget contains restricted items.  <a href="https://talk.theborderland.se/d/Oj8BUuZf/dreams-process-2019-faq">Read more about requirements here.</a> 
    </li><br> 

<li><b>Q: What is a Transport Monster?</b><br> 
Your budget contains transport costs for more than 20% of your total budget. If you believe you are eligible for an exemption from this rule <a href="https://talk.theborderland.se/g/iHdbkqPD/dreams”> contact a Dream Guide.</a>  <a href="https://talk.theborderland.se/d/zJY8uwNe/dreamiquette-guidelines-for-dreamers">Read more about requirements here.</a> 
    </li><br> 

<li><b>Q: What is an Unnecessary Material Monster?</b><br> 
Your budget contains unnecessary or wasteful material use. <a href="https://talk.theborderland.se/d/Oj8BUuZf/dreams-process-2019-faq">Read more about requirements here.</a> 
    </li><br> 
  
    <li><b>Q: I have a question that doesn't have the answer here. who should I contact?</b><br> 
    <br>A: Write in this thread on talk: https://talk.theborderland.se/d/Oj8BUuZf/dreams-process-2019-faq 
    </li><br><br><br><br> 
  </ul> 
</div> 
