<div class="row">
  <h1>FAQ</h1>
  <br>
  <ul>    

    <li><b>Q: Can I see what is behind the Kimono?</b><br>
    Sure! It is all Open Source - <a href="https://github.com/metaburn/dreams/">Click Here</a>
    </li><br>

    <li><b>Q: Who created this magnificent piece of art?</b><br>
    <a href="/pages/humans">Click on me to find out</a>
    </li><br>

    <li><b>Q: I have a question that doesn't have the answer here. who should I contact?</b><br>
    <br>A: Join the conversation on <a href="https://talk.theborderland.se/g/iHdbkqPD">Borderland Talk</a> and ask away!
    </li><br><br><br><br>
  </ul>
</div>
