<div id="page" class="row"> 
<article>
<h1>FAQ</h1>
<p>This is an FAQ based on the learnings from 2019. Read through it carefully, it may answer many of your questions along side with the <a href="https://talk.theborderland.se/d/RcaMo8Hj/dreamiquette-dreams-2020-cheat-sheet-for-dreamers"><em>Dreamiquette</em></a>, and <a href="https://talk.theborderland.se/d/gSVR3r7f/reviewiquette-dreams-2020"><em>Reviewiquette</em></a><em>. </em>If you still have question that are <strong>not</strong> answered in these central documents, then you can head over to the &ldquo;live&rdquo; <a href="https://talk.theborderland.se/d/WLgJSjvc/dreams-faq-2020"><strong>FAQ section</strong></a> and ask the community and the Dream Guides.</p>
<p>When will this FAQ be filled?</p>
<ul>
<li>It will be updated with questions and answers as they come. Post a comment if you have a question.</li>
</ul>
<p>Why is "granting disabled" for my dream?</p>
<ul>
<li>Granting will be manually enabled by Dream Guides when the dream is ready and has no guideline issues (angry monsters.)</li>
<li>Only enabled dreams will be open for granting.</li>
<li>Granting opens 1st of April.</li>
</ul>
<p>Is it still possible to see the Dreams from 2019 for inspiration on how to best present Dreams?</p>
<ul>
<li>Yes, if the dreamer chooses to activate this feature for their dream.</li>
</ul>
<p>What currency should I state my budget in?</p>
<ul>
<li>SEK, Swedish Krona</li>
</ul>
<p>I have a dream which does not need external funding - should i still put it up on the dreams platform?</p>
<ul>
<li>Yes put it up! It's not required of course but it's good publicity for you and good data for BL.</li>
</ul>
<h1>MONSTERS!!!</h1>
<p>My dream has a burning monster under it, what has happened?</p>
<ul>
<li>There are four ancient Dream Monsters that are normally calm and docile, but who gets startled when a dream goes against the guidelines, and then you don't want to stand in their fiery way!</li>
<li>Any user can startle monster for any dream if they think it might be violating our guidelines.</li>
<li>Check what type of monster it is and then check if you have made a mistake in your budget.</li>
<li>If you have made a mistake, rectify it and then calm the monster by clicking it and providing a comment on what you have changed.</li>
<li>If you think your monster has been unfairly startled, then calm it by pressing it and writing a comment.</li>
</ul>
<p>What is the role of the Monsters, and where is the Dream Guides?</p>
<ul>
<li>This year we are testing out a new system for processing dreams. In previous years the DG's have been going through every single dream to check for budget inconsistencies and what not. That system is no more, instead it is up to the community to self-check each other.</li>
<li>After you have uploaded your dream, get a cup of your favourite beverage and start surfing around among the sparkling ideas and check if there's any monsters that need to be startled.</li>
<li>The Honoured Guild of Dream Guides still exist, more than ever, but they only intervene if they are called upon, or if there is a conflict.</li>
</ul>
<p>What is the "No issues!" button?</p>
<ul>
<li>Press this one if you think the dream does not breach any of our guidelines. This way the DG's can see how many people have "approved" of a dream, and know which dreams need some helps and which are fine.</li>
</ul>
<p>What is the Incomplete Budget Monster?</p>
<ul>
<li>It's the monster that gets angry if your budget is incomplete. Go through your budget and check if you haven't made any mistakes.</li>
</ul>
<p><em>**From the</em> <a href="https://talk.theborderland.se/d/RcaMo8Hj/dreamiquette-dreams-2020-cheat-sheet-for-dreamers"><em>Dreamiquette:</em></a><em> **</em></p>
<h2><em>&sect; 1 Incomplete budget.</em></h2>
<p><em>Budgets with posts like "Other material 10.000DKK" doesn't cut it. Be precise, be specific. Also, please specify the entire budget, i.e. assume you get the maximum budget you applied for. (Having said that, we don't want you to be overtly detailed either. A budget post saying "Paint material 500DKK" is perfectly fine without specifying brushes or what paint it is. Please DON'T specify every single teeny tiny item if it&rsquo;s not absolutely necessary.)</em></p>
<p><em>Bad example: Random shit 10.000DKK</em></p>
<p><em>Good example: Wood 3000DKK, Screws 450DKK, Paint 750, Wolves 5800DKK</em></p>
<p>What is the Restricted Items Monster?</p>
<ul>
<li>It's the monster that gets angry if your budget contains restricted items. Restricted items are these:</li>
<li>Alcohol</li>
<li>Illegal stuff</li>
<li>Fireworks</li>
<li>Drones</li>
<li>Borderland memberships</li>
<li>Remuneration and hired labour</li>
</ul>
<p>What is the Transport Monster?</p>
<ul>
<li>The Transport Monster gets angry if you budget for transport for more than 20% of your total budget, since that is our <a href="https://talk.theborderland.se/d/KHlBzv6q/regulations-on-transport">rule of maximum funding for transport</a>.</li>
<li>However, the Transport Monster is the calmest of the four since we do allow for exceptions from this rule under several circumstances. If this monster is angry at you but you think you can be exempt from the rule, then speak to a Dream Guide (or just post in this thread.)</li>
</ul>
<p>What is the Unnecessary Material Monster?</p>
<ul>
<li>This is the meanest and vilest of the four, awoken only in the very uncommon circumstance of you wasting precious Borderland money!</li>
</ul>
<p><em>* *From the </em><a href="https://talk.theborderland.se/d/gSVR3r7f/reviewiquette-dreams-2020"><em>Dreamiquette:</em></a><em> **</em></p>
<h2><em>&sect; 3 Unnecessary material</em></h2>
<p><em>Only budget for stuff you really need to realise your dream. This is no magic money tree, the idea is that the dream grant system is there to help you realise what you wish to gift to the community. Make it obviously clear in the description of your project why you need the items you budget for. Is your dream a pillow fort? Don&rsquo;t budget for massive lasers. Is your dream a wooden sculpture of your own face? (awesome btw, do this!) Then don&rsquo;t budget for cake to give out when you open it (instead gift cake bought with your own money.)</em></p>
<p><em>Bad examples: Expensive party tent for a one time workshop (find another space to host the workshop). A new miter saw for a small wooden sculpture (just borrow one from someone else).</em></p>
<p><em>Good example: An intergalactic pillow fort that budgets for pillows And for massive lasers to fight off evil space goats.</em></p>
<p>What can I do to avoid startling monsters?</p>
<ul>
<li>Make sure you follow the guidelines when you make the budget of your dream. <a href="https://talk.theborderland.se/d/gSVR3r7f/reviewiquette-dreams-2020">The guidelines can be found here in the Dreamiquette.</a></li>
</ul>
<p>I have found something strange in the budget of another dream, should I startle a monster?</p>
<ul>
<li>Yes!</li>
</ul>
<h1>TAGS!</h1>
<p>Someone has tagged my dream as "Total Crap"!?</p>
<ul>
<li>Yep, they have. They probably thought it was, or they just wanted to fuck with you.</li>
</ul>
<p>Can I change it?</p>
<ul>
<li>Yep, anyone can remove a tag by pressing the "x" next to it.</li>
</ul>
<p>Can I know who tagged my dream?</p>
<ul>
<li>Nope.</li>
</ul>
<p>Can I tag anyone else's dream as revenge?</p>
<ul>
<li>Yes.</li>
</ul>
<h1>COLOURS!!</h1>
<p>Someone changed the colour of my dream???</p>
<ul>
<li>Yes.</li>
</ul>
<p>Can I change it back?</p>
<ul>
<li>Yes, find the little colour picker next to your dream in the grid view.</li>
</ul>
<p>Why the hell can people edit the colour of my dream?</p>
<ul>
<li>Quoting famous Swedish ski star Ingemar Stenmark: <em>H&auml; l&ouml;ns int ́ f&ouml;rklar ́ f&ouml;r den som int ́ begrip'. (It's a waste to explain it to someone who doesn't get it.)</em></li>
</ul>
<h1>GRANTING!!!!</h1>
<p>What is granting?</p>
<ul>
<li>Each Borderling gets 10 grantlets each, that roughly represents their membership price.</li>
<li>You give out your grantlets to projects you think should be funded, this way the community itself decide what art should populate our little city.</li>
</ul>
<p>How much of Borderlands budgets goes into dream grants?</p>
<ul>
<li>TBD when budget is finalized later. (app. 45%)</li>
</ul>
<p>When does granting open?</p>
<ul>
<li>1st of April</li>
</ul>
<p>How many grantlets do I have?</p>
<ul>
<li>10</li>
</ul>
<p>How many can I give to each dream?</p>
<ul>
<li>Maximum 5 grantlets to one dream.</li>
</ul>
<p>How much is a grantlet worth?</p>
<ul>
<li>TBD when budget is finalized later.</li>
</ul>
<p>What happens if I almost get enough grantlets to reach my minimum budget? Do I still get that money and try to realise it with those available means, or does my dream fall through completely?</p>
<ul>
<li>This depends, technically the grantlets from all not-fully-funded dreams are redistributed to fund as many dreams as possible. I have an AP up about how to do this with a Committee here.</li>
<li>But roughly I'd say that if you're above ~80% you will most certainly get funded, unless it's an insanely expensive project and those last ~20% could fund 20 other dreams</li>
</ul>
</article>
</div>
