<div class="row">
  <h1>Dream List</h1>
  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dream</th>
        <th>Borderling email</th>
        <th>Min budget</th>
        <th>Max budget</th>
        <th>Current funding</th>
      </tr>
    </thead>
    <tbody>
      <% @camps = Camp.select.all %>
        <tr>
          <td>TEST</td>
          <td>TEST</td>
          <td>TEST</td>
          <td>TEST</td>
          <td>TEST</td>
        </tr>
    </tbody>
  </table>

</div>