<div class="row"> 
  <article>
<h1>Cheat sheet for Reviewing Dreamers (You!)</h1>
<p><em>&ldquo;When we dream alone it is only a dream, but when many dream together we need to check each others budgets&rdquo;</em></p>
<p>Each Borderling that <strong>wish to get funding</strong> for their art project (dream) <strong>has to go through and review the budget of another project.</strong> The reasons behind this are that because of the sheer amount of projects it is not feasible for a small team to go through each project individually. Instead we see this as a push for and experiment in communal effort.</p>
<p>As a dreamer, asking for funding, your task will be to review at least one other dreams. Therfore <strong>read the below carefully</strong> and <strong>get on the platform</strong> and start helping the community to comply with our guidelines that are found in the <a href="https://talk.theborderland.se/d/RcaMo8Hj/dreamiquette-dreams-2020-cheat-sheet-for-dreamers">Dreamiquette</a>!</p>
<p>Your task as a reviewing dreamer is to read through the description and check the budget, and if you find no issues you check it as <strong>&ldquo;All is OK</strong>". Don&rsquo;t worry, in most cases this will be a very straightforward affair that won&rsquo;t take you long.</p>
<p>The reason we need to review the budgets are these:</p>
<ul>
<li>To make sure that people don&rsquo;t budget for restricted items, which will lead to disappointment when the requested sum cannot be paid out.</li>
<li>To make sure no one tries to abuse the system. This hasn&rsquo;t happened yet and we hope it never will.</li>
<li>To avoid wasting precious Dream Grant money on unnecessary stuff (.</li>
</ul>
<p>The process is as follows:</p>
<ol>
<li>After you have uploaded a complete dream to the platform you will get allocated another dream to review.</li>
<li>Go through their description and budget.</li>
<li>If you find something that does not feel right, then you startle the relevant monster (e.g. startle monster restricted items if the dream has allocated budget for restricted items). This alerts the dreamer that they have made a mistake somewhere.</li>
<li>If there is no issues check the &ldquo;All is OK&rdquo; checkbox.</li>
<li>Continue with checking the budgets of other dreams. Communal effort YAY!</li>
</ol>
<p>It is important to note here that it in almost all cases it is up to the dreamer themselves to correct their mistakes. The Dream Guides will only interject if there&rsquo;s controversy, or for some special types of violations. If you see that a dreamer has still not rectified a mistake you found a while ago, please remind them so they don&rsquo;t miss the granting.</p>
<h2>Budget Rules</h2>
<p>We have some hard rules, and then some softer guidelines called Dreamiquette, both listed below. Each of these violations has their own monster. Please remember to <strong>be kind</strong>, and always <strong>err on the side of trust</strong>. This system does not work if everyone startle monsters for everything, hence we also have some rules for you to follow.</p>
<h2>Rules for Reviewing Dreamers</h2>
<ul>
<li><strong>NO NITPICKING! </strong>Seriously! A dream that has allocated budget for one too many packs of screws does not warrant a monster. Please trust the dreamer in knowing the best for themselves what they need. Let them have those screws.</li>
<li><strong>You are not a Dream Guide</strong>. We ask you to check if there&rsquo;s any monsters to startle, not to guide the dream.&nbsp;</li>
<li>This is <strong>not the place to be an art critic</strong>. Not that anyone would to this, but <strong>don&rsquo;t startle monsters for dreams just because they seem dumb or pointless&rdquo;to you</strong>. Save that energy for the granting process, which is the perfect place to be an art critic!</li>
</ul>
<h2>Restricted items - stuff we do not currently fund without exceptions</h2>
<p>Startle "Restricted items&rdquo;-monster for these.</p>
<ul>
<li>Alcohol</li>
<li>Illegal stuff</li>
<li>Fireworks</li>
<li>Drones</li>
<li>Borderland memberships</li>
<li>Remuneration and hired labour</li>
<li>Personal Transport</li>
</ul>
<h2>Transport</h2>
<p>We fund transport up to 20% of the dream budget. However we do make exceptions in certain cases. Startle &ldquo;Transport&rdquo;-monster for this and a Dream Guide will look into it.</p>
<h2>Dreamiquette - Soft rules, but no less important</h2>
<ul>
<li>Incomplete budget. Budgets with posts like "Other material 10.000DKK" doesn't cut it. If the budget isn't clear enough for you t follow raise flag Incomplete. <em>(Having said that, we don't want overtly detailed budgets either. A budget post saying "Paint material 500DKK" is perfectly fine without specifying brushes or what paint it is.)</em></li>
<li>Not trustworthy behaviour. Do what you want, just as long as we won't have to make more rules next year because of you. We're a community that is built on trust, and this only works if we can trust each other. If the dream seem to be breaking this trust raise the flag Suspicious.</li>
<li>Examples: 1. A poorly described dream who's main budget post is a very expensive piece of equipment with a high resell value outside of Borderland, e.g a soundsystem. 2. A performance project that is the artist feeding themselves throughout the week, although we are fans of weird performance art ... just please don't be an idiot.*</li>
<li>Unnecessary stuff - Use your best judgement. Is the dream a Teahouse but they are budgetting for massive lasers? Probably unnecessary and warrants a flag. Is the dream an Intergalactic Teahouse? Then the lasers are probably necessary - to fight off space goats you know. Use flag Unnecessary stuff for this.</li>
<li>Examples: 1. Expensive party tent for a one time workshop (find another space to host the workshop). 2. A new miter saw for a small wooden sculpture (just borrow one from someone else). 3. A shitload of cakes for your chill space as a nice treat (buy and gift the cakes yourself, if it&rsquo;s not an intrinsic part of a dream it shouldn&rsquo;t be budgeted for).*</li>
<li>Dangerous stuff. Don't build very dangerous stuff. Is there something in the dream that seems overtly dangerous? Remember Safety third, but if the dream is basically a rolling ball of running chainsaws then rise the flag Dangerous.</li>
<li>Wasteful behaviour. We&rsquo;re a community of artists and makers, and a lot of things can be sought among us. If a dream is budgetting for prefabricating large wooden components for a hefty sum at a factory, this could most certainly be sorted within the community. Raise flag Wasteful behaviour for this.</li>
<li>Examples: 1. A dream budgetting exquisite and very expensive birch plywood instead of the normal stuff, just because &ldquo;it feels nicer", like who do they think they are? Get a grip. 2. A dream budgetting for a pack of screws to much does NOT warrant a raised flag. Please don&rsquo;t be nitpicking things, trust them in knowing what they are doing. *</li>
<li><em>Anything I&rsquo;m missing here?</em></li>
</ul>
<p>That's the brunt of it. If you have any questions don&rsquo;t hesitate to contact one of the Dream guides, just write in <a href="https://talk.theborderland.se/d/WLgJSjvc/dreams-faq-2020">the FAQ</a>. Please remember to always err on the side of trust. Don&rsquo;t startle monsters for unnecessary stuff, it just creates more work for all of us. <strong>Nitpickers will be covered in lube and rolled down the ski hill.</strong></p>
<p>The best online <a href="https://html-css-js.com/js/" target="_blank" rel="nofollow noopener">JavaScript tools</a> can be found at HTML-CSS-JS.com: script beautifier, compressor, cheat sheet or just read the blog.</p>
</article>
</div> 
