.camp_card {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;

  &:hover {
    background: #d7e6f4;
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  h1 {
    height: 19px;
    margin: 7px 0;

    @media (max-width: 991px) {
      height: 38px;
    }

    @media (max-width: 600px) {
      height: auto;
    }
  }
}

p {
  padding-bottom: 1em;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.flag {
  padding: 10px 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  img {
    cursor: pointer;
    transition: 500ms filter;
    &:hover {
      filter: hue-rotate(270deg);
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }
  }
}
.flags {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.startled {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  filter: hue-rotate(270deg);
  &:hover {
    filter: hue-rotate(0deg) !important;
    animation-iteration-count: 0 !important;
  }
}
.raised.active {
  background: rgba(0, 255, 0, 0.2) !important;
}

.active {
  background: rgba(255, 0, 0, 0.2);
  img {
    // animation: shake 0.5s;
    // animation-iteration-count: infinite;

    animation: rainbow 300ms steps(36) infinite, shake 0.5s infinite;

    //filter: hue-rotate(270deg);
  }
  img.startled {
    animation-iteration-count: 0;
    filter: hue-rotate(0deg);
  }
  form {
    display: block !important;
    .btn-red {
      background: red;
      color: white;
    }
    .btn-green {
      background: green;
      color: white;
    }
  }
}

@-webkit-keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(10deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(10deg);
    filter: hue-rotate(10deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.hidden-form {
  display: none;
}

.creation-info {
  .dream-point-of-contact {
    .glyphicon-envelope {
      color: $c-pinky;
      vertical-align: middle;
    }
  }
  .dream-website {
    a {
      &:hover {
        text-decoration: underline;
      }
    }

    .glyphicon-globe {
      color: $c-pinky;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.camp_card-img {
  width: 100%;
  padding-bottom: 66%;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.camp_card-desc {
  display: block;
  height: 44px;

  @media (max-width: 991px) {
    height: 66px;
  }

  @media (max-width: 600px) {
    height: auto;
  }
}

.carousel-inner {
  width: 100%;
  height: 400px;
}

.carousel-caption {
  max-width: 400px;
  text-align: center;
  top: 270px;
}

.camp-description {
  margin-top: 10px;
}

.delete-button {
  background: white;
  color: red;
  padding-top: 40px;
}

table {
  margin: 10px 0;
  border-radius: 6px;
  th {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #ddd !important;
  }
  tbody {
    td {
      border-top: 0 !important;
    }
    tr:nth-child(2) {
      background: #f1f1f1;
    }
  }
}
