/*
*= require jquery-ui
*/

.labels {
  display: flex;
  align-items: center;

  margin: 0 1em;
}

.budget-info {
  font-size: 20px;
  text-align: center;

  margin-right: 0.5em;
}

.budgetprogressbar {
  flex-grow: 1;
  margin-top: 0.6em;

  > .ui-progressbar {
    height: 8px;
  }

  .minBarValue {
    background-image: linear-gradient(99deg, #ffc233, #ffe19c);
  }

  .minCrossedBarValue {
    background-image: linear-gradient(93deg, #68c9f7, #3799ec);
  }

  .minCrossedHoverBar {
    background-color: #24283a;

    width: 2px;
    height: 10px;
  }
}

.gb-budgetprogressbar {
  background-color: #dce0e3;
}

.progressbar-bottomText {
  display: flex;
  flex-direction: column;
  margin-top: -9px;
}

.ui-progressbar-value {
  height: 100%;
}
