/*
*= require jquery-ui
*/

$border-radius: 20px;

.labels {
  display: flex;
  align-items: center;
}

.budget-info {
  font-size: 20px;
}

.budgetprogressbar {
  > .ui-progressbar {
    height: 8px;
  }

  .gb-budgetprogressbar {
    border-radius: $border-radius;
    background-color: #dce0e3;

    /* TODO: remove?
    .ui-progressbar-value {
      border: none;
    } */
  }

  .minBarValue {
    background-image: linear-gradient(99deg, #ffc233, #ffe19c);
  }

  .minCrossedBarValue {
    background-image: linear-gradient(93deg, #68c9f7, #3799ec);
  }

  .minCrossedHoverBar {
    display: block;
    position: relative;
    top: -0.25em;
    right: -2px;
    width: 2px;
    height: 12px;
    background-color: #24283a;
  }
}

.ui-progressbar-value {
  border-radius: $border-radius;
  height: 100%;
}
